<!-- FOOTER -->

<footer class="bg-dark">
    <ul class="reseauxsociaux">
        <li><a href="https://github.com/fatimabenzaoui" target="_blank" class="fab fa-github-square"></a></li>
        <li><a href="https://gitlab.com/fatimabenzaoui" target="_blank" class="fab fa-gitlab"></a></li>
        <li><a href="https://stackoverflow.com/users/15003786/fatimabenzaoui" target="_blank" class="fab fa-stack-overflow"></a></li>
        <li><a href="https://www.facebook.com/benzaouifatima" target="_blank" class="fab fa-facebook-square"></a></li>
        <li><a href="https://www.instagram.com/fatimabenzaoui" target="_blank" class="fab fa-instagram"></a></li>
        <li><a href="https://www.linkedin.com/in/fatima-benzaoui" target="_blank" class="fab fa-linkedin"></a></li>
        <li><a href="https://twitter.com/fatimabenzaoui" target="_blank" class="fab fa-twitter-square"></a></li>
    </ul>
    <div class="copyright">&copy; 2022 | Fatima Benzaoui | All Rights Reserved</div>
</footer>