<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="@{/include/meta}" />
    <title>Add Subscriber</title>
    <link th:replace="@{/include/link}" />
</head>
<body>
    <header th:replace="@{/include/navbar}"></header>
    <div class="bg-dark pt-5 pb-5">
        <h1 class="text-center text-light">Add a Subscriber</h1>
        <form th:action="@{/add}" th:object="${subscriber}" method="post" class="form w-50 mx-auto bg-dark text-light">
            <div class="form-group">
                <label for="firstName">Firstname</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control shadow-none" autofocus />
            </div>
            <div class="form-group">
                <label for="lastName">Lastname</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control shadow-none" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" th:field="*{email}" class="form-control shadow-none" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100 mt-3 shadow-none">Save</button>
            </div>
        </form>
        <hr class="w-50 mx-auto">
        <a th:href="@{/}" class="d-block text-end w-50 mx-auto">&lt;- Back to Subscribers List</a>
    </div>

    <section th:replace="@{/include/footer}"></section>
    <script th:replace="@{/include/script}"></script>
</body>
</html>




