<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="@{/include/meta}" />
    <title>Edit Subscriber</title>
    <link th:replace="@{/include/link}" />
</head>
<body>
    <header th:replace="@{/include/navbar}"></header>
    <div class="container">
        <h1 class="text-center text-light">Update a Subscriber</h1>
        <form th:action="@{'/update/' + ${subscriber.subscriberId}}" th:object="${subscriber}" method="post" class="form w-50 mx-auto">
            <!-- <div class="form-group">
                <label for="subscriberId">Id</label>
                <input type="hidden" id="subscriberId" name="subscriberId" th:field="*{subscriberId}" class="form-control shadow-none" />
            </div> -->
            <div class="form-group">
                <label for="firstName">Firstname</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control shadow-none" autofocus />
            </div>
            <div class="form-group">
                <label for="lastName">Lastname</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control shadow-none" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:field="*{email}" class="form-control shadow-none" />
            </div>
            <div class="form-group">
                <label for="createdAt">Created At</label>
                <input type="text" id="createdAt" name="createdAt" th:field="*{createdAt}" class="form-control shadow-none" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100 mt-3 shadow-none">Save</button>
            </div>
        </form>
        <a th:href="@{/}" class="d-block text-end w-50 mx-auto mt-3">&lt;- Back to Subscribers List</a>
    </div>

    <section th:replace="@{/include/footer}"></section>
    <script th:replace="@{/include/script}"></script>
</body>
</html>