<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="@{/include/meta}" />
    <title>Subscriber Details</title>
    <link th:replace="@{/include/link}" />
</head>
<body>
    <header th:replace="@{/include/navbar}"></header>
    <div class="mt-3 text-light w-50 mx-auto">
        <h1 class="text-center">Subscriber Details</h1>
        <div class="table-responsive text-light">
            <table class="table table-bordered table-hover table-dark text-light mt-4">
                <caption summary="Subscriber Details" class="text-end">
                    Subscriber Details
                </caption>
                <thead>
                    <tr>
                        <th scope="col" colspan=2 th:text="${subscriber.firstName} + ' ' + ${subscriber.lastName} + ' Details'" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td th:text="${subscriber.subscriberId}"></td>
                    </tr>
                    <tr>
                        <td>Firstname</td>
                        <td th:text="${subscriber.firstName}"></td>
                    </tr>
                    <tr>
                        <td>Lastname</td>
                        <td th:text="${subscriber.lastName}"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td th:text="${subscriber.email}"></td>
                    </tr>
                    <tr>
                        <td>CreatedAt</td>
                        <td th:text="${subscriber.createdAt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/}" class="d-block text-end pb-3">&lt;- Back to Subscribers List</a>
    </div>

    <section th:replace="@{/include/footer}"></section>
    <script th:replace="@{/include/script}"></script>
</body>
</html>