<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="@{/include/meta}" />
    <title>Subscribers List</title>
    <link th:replace="@{/include/link}" />
</head>
<body>
    <header th:replace="@{/include/navbar}"></header>
    <div class="bg-dark pt-3 pb-3">
        <h1 class="text-light w-50 mx-auto">Subscribers List</h1>
        <span class="text-end d-block mb-2 w-50 mx-auto"><button class="btn btn-success btn-sm shadow-none"><a th:href="@{/new}" class="fas fa-plus"></a></button></span>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover align-middle table-light w-50 mx-auto table-dark text-light">
                <caption summary="Subscribers List" class="text-end">Subscribers List</caption>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscriber : ${subscribers}">
                        <td th:text="${subscriber.firstName + ' ' + subscriber.lastName}"></td>
                        <td th:text="${subscriber.email}"></td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm shadow-none"><a th:href="@{'/get/' + ${subscriber.subscriberId}}" class="fas fa-eye"></a></button>
                            <button class="btn btn-success btn-sm shadow-none"><a th:href="@{'/edit/' + ${subscriber.subscriberId}}" class="fas fa-edit"></a></button>
                            <button class="btn btn-danger btn-sm shadow-none"><a th:href="@{'/delete/' + ${subscriber.subscriberId}}" class="fas fa-trash-alt" onclick="return confirm('Are you sure to want to delete this record ?')"></a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <section th:replace="@{/include/footer}"></section>
    <script th:replace="@{/include/script}"></script>
</body>
</html>